/* .nocolpadding {
    padding: 0 !important;
    margin: 0 !important;
} */

/* @media (max-width: 575.98px) { ... }


@media (max-width: 767.98px) { ... }


@media (max-width: 991.98px) { ... } */

.dropdown {
    /* width: 400px; */
      height: auto;
      
}

.dropdown-menu {
    background-color: #343a40;
}

.dropdown-menu .nav-link {
    width: 225px;
    /*margin: 0;*/
}

@media (max-width: 1199.98px) { 
    .profilecard {
        width: 100%;
        float: left;
    }
    .profileImage {
        max-height: 10em;
        max-width: 10em; 
    }
    .problock {
        float: left;
    }
}


.score-widget-container {
    background: #FFFFFF;
    box-shadow: inset 0px 0px 100px rgba(0, 10, 255, 0.8);
    border-radius: 15px;
}

.score-widget-main-text {

    left: 0%;
    right: 0%;
    top: 20.78%;
    /*bottom: 27.92%;*/
    font-size: 3em;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    text-align: center;

    color: #000000;
}

.score-widget-catagory {

    left: 0%;
    right: 0%;
    top: 5%;
    bottom: 79.22%;
    font-size: 1.5em;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    text-align: center;

    color: #000000;

}

.score-widget-comparison {

    left: 0%;
    right: 44.16%;
    top: 56.49%;
    bottom: 0%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    text-align: center;

    color: #000000;

}

img.resize {

    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;

    /* max-width:85px;
    max-height:85px;
    float: left; */
}

.profileImage {
    /* float: left;
    max-height: 14em;
    max-width: 14em; */
    width: 100%;
    overflow: hidden;
}

.textFact {
    background-color: lightgrey;
    border-radius: 10px;
    height: auto;
    text-align: center;
}



.donutchart {
    max-height: 16em;
    position: relative;
}

.DONUTCANVAS1 {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
}


.statcard {
    text-overflow: clip;
    padding-top: auto;
    padding-bottom: auto;
    overflow: hidden;
    font-family: 'Bitter', serif;
}

/* .sidebar {
    height: 100%;
} */
/* 
.statcard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.mvpcard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.profilecard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    filter: brightness(95%);
  }

  .sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 56px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#tabs-content {
    transition: margin-left .5s;
}

.breadcrumb {
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
}