/* .nocolpadding {
    padding: 0 !important;
    margin: 0 !important;
} */

/* @media (max-width: 575.98px) { ... }


@media (max-width: 767.98px) { ... }


@media (max-width: 991.98px) { ... } */


.season-portion-button {
    outline: none !important;
    box-shadow: none !important;
}

.container-fluid {
    height: 100%;
}

#content-wrapper {
    margin-top: 56px;
}

.mainDonut {
    max-height: 75vh;
    max-width: 75vh;
}

.mainChart {
    max-height: 100vh;
    max-width: 100vw;
}

.wrapper {
    margin-top: 0 !important;
}

.dropdown {
    /* width: 400px; */
    height: auto;
    width: auto;

}

.dropdown-menu {
    background-color: #343a40;
    column-count: 2;
}

.side-item {
    width: auto;
    font-size: 1rem;
    padding-left: 2px;
    /*margin: 0;*/
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 56px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
}

.sidenav a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;

}

.nav-link {
    color: white !important;
}

a .nav-link {
    margin-top: auto;

}

.padMe {
    padding-left: 3px !important;
}

@media (max-width: 1199.98px) {
    .profilecard {
        width: 100%;
        float: left;
    }

    .profileImage {
        max-height: 10em;
        max-width: 10em;
    }

    .problock {
        float: left;
    }
}


.score-widget-container {
    background: #FFFFFF;
    box-shadow: inset 0px 0px 100px rgba(0, 10, 255, 0.8);
    border-radius: 15px;
}

.score-widget-main-text {

    left: 0%;
    right: 0%;
    top: 20.78%;
    /*bottom: 27.92%;*/
    font-size: 3em;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    text-align: center;

    color: #000000;
}

.score-widget-catagory {

    left: 0%;
    right: 0%;
    top: 5%;
    bottom: 79.22%;
    font-size: 1.5em;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    text-align: center;

    color: #000000;

}

.score-widget-comparison {

    left: 0%;
    right: 44.16%;
    top: 56.49%;
    bottom: 0%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;

    text-align: center;

    color: #000000;

}

img.resize {

    width: auto;
    height: auto;
    max-height: 75px;
    /* max-width: 100px; */
    margin-left: auto;
    margin-right: auto;

    /* max-width:85px;
    max-height:85px;
    float: left; */
}

.profileImage {
    /* float: left;
    max-height: 14em;
    max-width: 14em; */
    max-width: 100%;
    height: auto;
    overflow: hidden;
    /* max-width: 245.5px; */

}

.textFact {
    background-color: lightgrey;
    border-radius: 10px;
    height: auto;
    text-align: center;
}

#memberWeekTable {
    table-layout: fixed !important;
    width: 100% !important;
}

.donutchart {
    max-height: 16em;
    position: relative;
}

.DONUTCANVAS1 {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
}


.statcard {
    text-overflow: clip;
    padding-top: auto;
    padding-bottom: auto;
    overflow: hidden;
    font-family: 'Bitter', serif;
    cursor: default;
}

.sidebar {
    height: 100%;
}

/*
.statcard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.mvpcard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.profilecard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: default;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    filter: brightness(95%);
}

.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
    margin-top: 0;
}

#tabs-content {
    padding-top: 16px;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: blue;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#wrapper {
    transition: margin-left .5s;
}

.breadcrumb {
    margin-left: -15px;
    margin-right: -15px;
}

#league_name_header {
    width: auto;
    line-height: auto;
}

#yearSelector {
    color: black;
}

.navBut {
    text-decoration: none;
    -webkit-appearance: none;
    color: rgba(255, 255, 255, 1) !important;
    animation-duration: .2ms;
}

.navBut:hover {
    -webkit-appearance: none;
    background-color: blue;
    border-radius: 10px;
    animation-duration: .2ms;
}

.navbar-dark {
    position: fixed !important;
    z-index: 4;
    width: 100%;
    margin-top: 0px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background: none;
}

.dataTables_info {
    visibility: hidden;
} 
/*
#power_rank_table {
    align-content: left;
} */

.page-footer {
    margin-top: 70px;
    background-color: darkgrey;
    color: white;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
}
/* 
table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    border-collapse:
        collapse;
    border-spacing: 0;
} */

/* td,
th {
    border: 1px solid transparent; */
    /* No more visible border */
    /* height: 30px;
    transition: all 0.3s; */
    /* Simple transition for hover effect */
/* } */

header {
    overflow: auto;
}

#power_rank_table tr:hover { background-color: #666 !important;color: rgb(240, 240, 240);  color-adjust: economy!important; } 
/* Hover cell effect! */

.maincard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: default;
}

.maincard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    filter: brightness(95%);
}

img.newresize {

    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5% !important;
    /* max-width:85px;
    max-height:85px;
    float: left; */
}

#teamPill {
    padding-left: 3em;
    padding-right: 3em;
}

.nomarg {
    margin: 0 !important;
}

.teamGraphCard {
    max-height: 250px;
}

.statWidget {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    cursor: default;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    /* border-color: #06AED5; */
}

.statwidgetcatagory {
    margin: auto;
    color: black;
    background-color: white;
    font-size: 24px;
    padding-left: .75em;
    padding-right: .75em;
    border-radius: 5px;
}

.statwidgetcontent {
    color: black;
    flex: auto;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .5em;
    border-radius: 0px 5px 5px 0px;
}

/* h1{
	margin-bottom: 0px;
}

h2{
	margin-bottom: 0px;
} */

.c3-tooltip-container {
    width: 30% !important;
}

.c3-tooltip {
    width: 30% !important;
}

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  } 



div.statWidget > div:nth-child(1) > h5:nth-child(1) {
    margin-bottom: 0px !important;
    margin-top: .5em !important;
  }
  
  
  div.statWidget > div:nth-child(1) > h4:nth-child(2) {
    margin-bottom: .5em !important;
  }
  
  div.statWidget > div:nth-child(1) {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  
#team_dropdown .dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

#team_dropdown .dropdown:hover .dropdown-menu {
    display: inline-block;
}

#team_dropdown {
    flex-direction: column;
    width: max-content;
}

#dropdownMenuButton {
    color: white !important;
    background-color: transparent !important;
    border: none;
    animation-duration: .2ms;
}
#dropdownMenuButton:hover {
    background-color: blue !important;
    animation-duration: .2ms;
}

#member_week_table_body .tr{
    margin-top: .25em;
    margin-bottom: .25em;
}
#member_week_table_body .tr:hover{
    color: black;
    box-shadow: inset 0px 0px 10px #000000;
}


/* table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    font-size: 1em;

    padding: .25em;
} */