#league_input_page {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    position: absolute;
}

#particles-js{
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* background-color: #1834b6; */
    background-image: url('../assets/helmetbackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }