#league_input_page {
	width: 100vw;
	height: 100vh;
	z-index: 999;
	position: absolute;
}
#particles-js {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-image: url('../assets/helmetbackground.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#input_card {
	background-color: rgba(10,10,10,.75);
	color: ghostwhite;
}
