#league_trade_chart {
    height: 70vh;
}

#league_trades_container {
    overflow-y: scroll;
    height: 70vh;
}

.league_trade_container {
    padding: 1em;
    font-size: .8em;
}

.sent_assets_list {
    color: red;
}

.received_assets_list {
    color: green;
    
}

.nav-link.active {
    background-color: #007bff;
}


#team_page_trades_container {
  height: 75vh;
  overflow-y: scroll;
}

tr.finalScoreRow td {
    text-align: center;
    border: 0;
  }

#matchup_modal_lineup_body tr td {
    vertical-align: middle;
}

.player_badge_image {
    border-radius: 25px;
    width: 50px;
    height: auto;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.matchup_modal_container {
    width: fit-content;
    max-width: 90vw;
    min-width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.position_badge {
    border-radius: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    max-width: 60px;
    padding-top: 12px;
}

.bench_position_badge {
    border-radius: 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40px;
}

#member_week_table_body tr {
    cursor:pointer;
}

#member_week_table_body tr :hover {
    opacity: 110%;
}

.mini-stat-text {
    font-size: .75rem;
}

.chart_pic {
    border-radius: 25px;
}

.player_cell_name {
font-size: .8em;
}

.player_cell_score {
    line-height: 1.25;
    font-size: .8em;
    margin-top: auto;
    margin-bottom: auto;
}

.margin_small_text {
    border-radius: 2px;
    padding: 2px;
    background-color: black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .trade-block-table td {
      vertical-align: middle;
  }

  .team-menu-link {
      color: white;
  }
  
  .settings-icon {
      color: white;
      width: 2em;
      height: 2em;
      padding: 0dp;
  }

  .settings-icon :hover {
      color: #007bff;
      cursor: pointer;
  }